<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstemail">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".New1_user_class" />
        <activity android:name=".registered_user_class"/>
        <activity android:name=".send_email_class"/>
        <activity android:name=".recieve_mail_class"/>
        <activity android:name=".enter_recieved_mail_class"/>
        <activity android:name=".enter_group_mail_class"/>
        <activity android:name=".send_group_mail_class"/>
    </application>

</manifest>